@font-face {
    font-family: regular;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: Rbold;
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: Rlight;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    font-family: regular;
}

.slogan {
    font-family: Rbold;
}

header {
    width: 100vw;
    height: 10vh;
}

nav {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.dog_logo {
    background-image: url("../media/logo.png");
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.fetch_await_dom {
    position: absolute;
    bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.514);
}

.fetch_await_dom>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    width: 250px;
    min-height: 140px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.error_message_dom {
    text-align: center;
    width: 75vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    color: red;
    background-color: white;
    height: 12px;
}

.exit {
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 150px;
}

p {
    margin: 0;
    padding: 10px;
}

a {
    font-family: Rlight;
}