#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

input {
    margin-top: 10px;
    width: 80vw;
    height: 25px;

}

.input_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input_wrapper div {
    margin-top: 10px;
}

button {
    width: 80vw;
    height: 30px;
}

.toggle_link {
    color: rgb(58, 16, 78);
    text-decoration: underline;
}

.link_wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}