#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

input {
    margin-top: 10px;
    width: 80vw;
    height: 25px;
    font-family: regular;
    font-size: 18px;
    
}

.input_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 300px;
    
}

.input_wrapper div {
    margin-top: 10px;
    font-family: regular;
    font-size: 20px;
}

button {
    width: 80vw;
    height: 35px;
    font-family: regular;
    font-size: 20px;
}

.toggle_link {
    color: rgb(58, 16, 78);
    text-decoration: underline;
    font-family: regular;
    font-size: 18px;
}

.link_wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}